.portfolioWrap{
  header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:5;
  }
  .header__inbox{
    padding:0 10px;
    box-sizing:border-box;
    height:70px;
  }
  section{
    position:relative;
  }


  .textSection{
    height:100vh;
    background:orange;
    .anitext{
      transform:translate(900px,0) rotate(-18deg);
    }
  }

}