$imgurl: "https://static.wehago.com/imgs/nyn/sp_nyn.png";
$imgurl2x: "/imgs/nyn/sp_nyn_2x.png";

// color
$blue: #1c90fb;
$red: #fc5356;
$orange: #ffa018;
$yellow: #febc2c;
$green: #1fc47c;
$gray: #aab3c4;