@charset "UTF-8";
/*
한글 범위:  U+AC00-D7A3
영어 대문자 범위 :  U+0041-005A
영어 소문자 범위 :   U+0061-007A
숫자 범위 : U+0030-0039
특수 문자: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
*/
/*
@font-face {
  font-family: 'Noto Sans KR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
  font-weight: 100;
}*/
/*
한글 범위:  U+AC00-D7A3
영어 대문자 범위 :  U+0041-005A
영어 소문자 범위 :   U+0061-007A
숫자 범위 : U+0030-0039
특수 문자: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
*/
/*
@font-face {
  font-family: 'Noto Sans KR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
  font-weight: 100;
}*/
.portfolioWrap {
  font-size: 62.5%;
  color: #3a3a3a;
}
.portfolioWrap header {
  /*.logo{
    display:inline-block;
    margin-top:7px;
    a{
      position:relative;
      display:inline-block;
      padding:10px 20px;
      box-sizing:border-box;
      width:110px;
      height:53px;
      background:#3660ff;
      border-radius:50%;
      box-shadow:1px 3px 0 #7aff00;
      text-decoration:none;
      font-weight:700;
      color:#fff;
      overflow:hidden;
      >span{
        position:absolute;
        top:8px;
        left:2px;
        display:inline-block;
        font-size:34px;
        letter-spacing:-1.5px;
        -webkit-transform:rotate(-11deg);
        -ms-transform:rotate(-11deg);
        -o-transform:rotate(-11deg);
        transform:rotate(-11deg);
      }
    }
  }*/
}
.portfolioWrap header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.portfolioWrap header .logo a {
  font-family: "Fredoka One", cursive;
  text-decoration: none;
  font-size: 1.6rem;
  color: #222;
}
@media only screen and (min-width: 768px) {
  .portfolioWrap header .logo a {
    font-size: 2.5rem;
  }
}
.portfolioWrap .gnb__button {
  position: relative;
  margin-left: auto;
  width: 30px;
  height: 24px;
  border: 0;
  background: none;
  font-size: 0;
  color: transparent;
  overflow: hidden;
}
.portfolioWrap .gnb__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
  background: #000;
  -webkit-box-shadow: 0 10px #000, 0 20px #000;
  box-shadow: 0 10px #000, 0 20px #000;
}
.portfolioWrap .gnb.active .gnb__button {
  z-index: 1;
}
.portfolioWrap .section__title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 900;
}

.portfolioWrap .decoItem .decoItem__line {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9px;
  z-index: 10;
  background: #2f2f2f;
}
.portfolioWrap .decoItem .decoItem__line:before, .portfolioWrap .decoItem .decoItem__line:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 9px;
  background: #2f2f2f;
}
.portfolioWrap .decoItem .decoItem__line:before {
  left: 0;
}
.portfolioWrap .decoItem .decoItem__line:after {
  right: 0;
}
.portfolioWrap header {
  position: fixed;
  top: 9px;
  left: 0;
  right: 0;
  z-index: 5;
}
.portfolioWrap .header__inbox {
  padding: 0 20px;
  box-sizing: border-box;
  height: 70px;
}
.portfolioWrap .gnb {
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.portfolioWrap .gnb__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -200%;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  transition: all ease 0.3s;
}
.portfolioWrap .gnb__list a {
  display: block;
  margin: 20px 0;
  padding: 0 15px;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  color: #333;
}
.portfolioWrap .gnb.active .gnb__list {
  top: 0;
}
.portfolioWrap section[class*=Area] {
  position: relative;
  height: 100vh;
}
.portfolioWrap .nextSection {
  height: 100vh;
  background: orange;
}

/*
html, body { height: 100%; margin: 0; }
#container { height: 100%; position: relative; overflow: hidden; }
section { width: 100%; height: 100%; position: absolute; }
.section01 { background: orange; width: 100%; height: 100%; }
.section02 { background: yellowgreen; }
.section03 { background: firebrick; }
.section04 { background: cornflowerblue; }
.section05 { background: seagreen; }
*/
.portfolioWrap .visualArea {
  background: #f3eae2;
}
.portfolioWrap .visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
.portfolioWrap .visual__title {
  font-size: 3rem;
  text-align: center;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.portfolioWrap .visual__title strong {
  font-weight: 500;
}
.portfolioWrap .visual__desc {
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #555;
}
.portfolioWrap .aboutArea {
  padding: 20px 30px;
  background: #b4cef8;
}
.portfolioWrap .aboutArea__inbox {
  position: relative;
  padding: 10px 20px;
  background: #fff;
  border-radius: 3px;
}
.portfolioWrap .aboutArea .section__title {
  color: #67efaa;
}
.portfolioWrap .aboutArea .section__title:before {
  content: "About";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  color: transparent;
  -webkit-text-stroke: 0.1rem #232323;
}
.portfolioWrap .aboutArea .flexWrap {
  display: flex;
  flex-wrap: wrap;
}
.portfolioWrap .aboutArea .flexWrap__rightBox {
  flex: 1 1 550px;
}
.portfolioWrap .infoList__row:after {
  content: "";
  display: block;
  clear: both;
}
.portfolioWrap .infoList dt {
  float: left;
}
.portfolioWrap .infoList dd {
  overflow: hidden;
}