@charset "utf-8";
@font-face {
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
    unicode-range:U+0041-005A, U+0061-007A;
}
@font-face {
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
    unicode-range:U+AC00-U+D7A3;
}

.mob_caution{display:none;padding:10px;background:#c685e0;text-align:center;font-size:17px;color:#fff;}
.scroll_hidden{min-height:100%;height:100%;overflow:hidden !important;touch-action:none;}

/* common */
main{padding-bottom:60px;}
.sp_img{display:inline-block;overflow:hidden;line-height:100em;vertical-align:top;background:url(../images/sprite.png) 0 0 no-repeat;}
.sp_img.icon_mail{width:18px;height:14px;background-position:-24px 0;}
.sp_img.icon_phone{width:14px;height:19px;background-position:0 0;}
.graytxt{color:#b1adad;}
.caution{color:#de5757;}
.button_up_box{display:inline-block;position:fixed;right:20px;bottom:5%;z-index:1;}
.button_up{display:inline-block;}
.heart{position:relative;width:60px;height:50px;}
.button_up.heart > span{position:absolute;top:11px;left:0;right:0;z-index:1;text-align:center;font-family:'Baloo Bhai', cursive;font-size:14px;letter-spacing:.1px;color:#fff;}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 30px;
    top: 0;
    width: 30px;
    height: 47px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
    box-shadow:5px 3px 7px rgba(0,0,0,.2);
}

h3.section_title{margin-bottom:30px;text-align:center;font-family:'Baloo Bhai', cursive;font-size:35px;}
.info_list .row + .row{margin-top:5px;}
.info_list .row:after{content:'';display:block;clear:both;}
.info_list dt{float:left;position:relative;padding-left:10px;min-width:90px;font-size:14px;font-weight:600;line-height:21px;color:#555;}
.info_list dt:before{content:'';display:block;position:absolute;top:7px;left:0;width:5px;height:5px;background:#ccaaff;}
.info_list dd{overflow:hidden;margin-left:10px;font-size:14px;line-height:21px;color:#555;}
.info_list.type2 .row dt{float:inherit;}

@media only screen and (min-width:768px){
    h3.section_title{margin-bottom:35px;font-size:50px;line-height:51px;}
    .info_list dt{min-width:110px;font-size:18px;line-height:23px;}
    .info_list dd{font-size:16px;line-height:23px;}
}
/* //common */

/* header */
.header_wrap{margin:0 auto;padding:0 20px;box-sizing:border-box;height:60px;background:rgba(255,255,255,.9);box-shadow:0 2px 5px rgba(0,0,0,.15);}
.header_wrap.fixed{position:fixed;top:0;left:0;right:0;z-index:2;}
.header_wrap .header_box{margin:0 auto;max-width:1200px;}
.header_wrap h1{display:inline-block;padding:13px 5px 0;}
.header_wrap h1 a{display:inline-block;font-family:'Baloo Bhai', cursive;font-size:25px;white-space:nowrap;color:#333;}
.nav_wrap{position:fixed;z-index:2;top:-200%;left:0;right:0;padding:100px 0;height:100vh;box-sizing:border-box;background: #e3d0ff;transition:all ease .3s;}
.nav_wrap.mob_active{top:0;}
.button_nav{display:block;position:absolute;top:18px;right:20px;width:27px;height:23px;z-index:3;cursor:pointer;}
.button_nav span{display:block;position:absolute;left:50%;margin-left:-14px;width:27px;height:3px;background:#ccaaff;transition:all ease .3s;-webkit-transition:all ease .3s;-ms-transition:all ease .3s;-o-transition:all ease .3s;}
.button_nav span:nth-of-type(1){top:0;}
.button_nav span:nth-of-type(2){top:10px;}
.button_nav span:nth-of-type(3){top:20px;}
.button_nav.close{position:fixed;}
.button_nav.close span{background:#fff;}
.button_nav.close span:nth-of-type(1){top:50%;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);}
.button_nav.close span:nth-of-type(2){margin-left:0;width:0;}
.button_nav.close span:nth-of-type(3){top:50%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
.navigation .nav_item + .nav_item{margin-top:50px;}
.navigation .nav_item a{display:block;padding:0 10px;box-sizing:border-box;font-family:'Baloo Bhai', cursive;text-align:center;font-size:5vh;color:#fff;}
.navigation .nav_item a:hover,
.navigation .nav_item a:focus{color:#df7dda;}

@media only screen and (min-width:768px){
    .header_wrap h1{float:left;padding-top:8px;}
    .header_wrap h1 a{font-size:30px;}
    .button_nav{display:none;}
    .nav_wrap{position:relative;top:0;overflow:hidden;margin-left:auto;padding:0;width:auto;height:auto;background:none;text-align:right;}
    .navigation .nav_item{position:relative;display:inline-block;margin:0 15px 0;}
    .navigation .nav_item + .nav_item{margin-top:0;}
    .navigation .nav_item a{font-size:23px;line-height:60px;color:#222;}
    .navigation .nav_item a:hover,
    .navigation .nav_item a:focus{color:#caf;}
    .navigation .nav_item a:before{content:'';position:absolute;display:block;bottom:10px;left:0;width:100%;height:2px;background:#ccaaff;transition:all ease .2s;-webkit-transition:all ease .2s;-ms-transition:all ease .2s;-o-transition:all ease .2s;transform:scaleX(0);-webkit-transform:scaleX(0);-ms-transform:scaleX(0);-o-transform:scaleX(0);}
    .navigation .nav_item:hover a:before,
    .navigation .nav_item.active a:before{transform:scaleX(1);}
}
/* //header */

/* window box style */
.window_box{border:5px solid #434343;background:#fff;border-radius:5px;}
.window_box .deco_box{height:30px;border-bottom:5px solid #434343;background-color:#ddd;background-image:radial-gradient(#555 15%, transparent 16%), radial-gradient(#555 15%, transparent 16%);background-size:20px 16px;background-position:0 0, 10px 24px;}
.window_box .deco_item{float:right;}
.window_box .item{float:left;position:relative;display:block;width:30px;height:25px;border-left:5px solid #434343;}
.window_box .item.mode1{background:#81a5e7;}
.window_box .item.mode1:before{content:'';display:block;position:absolute;top:14px;left:50%;margin-left:-7px;width:14px;height:5px;background:#434343;border-radius:5px;}
.window_box .item.mode2{background:#f6c964;}
.window_box .item.mode2:before{content:'';display:block;position:absolute;top:4px;left:50%;margin-left:-9px;width:12px;height:9px;border:3px solid #434343;border-top: 5px solid #434343;border-radius:2px;}
.window_box .item.mode3{padding-top:2px;background:#fe97bd;}
.window_box .item.mode3 .con_x{display:inline-block;margin:0 0 0 11px;width:4px;height:20px;background:#434343;border-radius:5px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);}
.window_box .item.mode3 .con_x:before{content:'';display:block;position:absolute;top:50%;left:-8px;margin-top:-2px;width:20px;height:4px;background:#434343;border-radius:4px;}
/* //window box style */

/* about */
.about_wrap{position:relative;padding-top:17%;width:100%;background:url(../images/top_bg.jpg) center top / 100% no-repeat;}
.about_wrap .window_box{margin:0 auto;width:85%;}
.about_area{padding:30px;}
.about_area .info_top{margin-bottom:20px;text-align:center;}
.about_area .profile_image{margin:0 auto 20px;width:180px;height:200px;border:5px solid #434343;background:url(../images/mypic.jpg) center bottom / cover no-repeat;border-radius:8px;}
.about_area .name{font-family:'Do Hyeon', sans-serif;font-size:30px;font-weight:600;letter-spacing:3px;}
.about_area .job{display:block;margin-bottom:10px;font-size:16px;letter-spacing:.6px;}
.about_area .contact{display:inline-block;text-align:left;}
.about_area .contact .contact_item + .contact_item{margin-top:5px;}
.about_area .contact .contact_item dt{float:left;margin-right:4px;}
.about_area .contact .contact_item dt .icon{display:block;width:20px;height:20px;}
.about_area .contact .contact_item dt .icon .icon_mail{margin-top:3px;}
.about_area .contact .contact_item dt .icon .icon_phone{margin-top:1px;}
.about_area .contact .contact_item dd{overflow:hidden;}
.about_area .contact .contact_item dd a{font-size:13px;line-height:22px;letter-spacing:-.3px;}
.about_area .info_bottom{padding:20px 0; border-top: 1px solid #ddd;}
.info_area{display:flex;display:-webkit-flex;display:-ms-flex;display:-o-flex;flex-direction:column;}

@media all and (min-width:768px) {
    .about_wrap h3.section_title {max-width: 660px; margin: 0 auto 30px; text-align: left;}
    .about_area{padding:80px 20px;}
    .about_wrap .window_box{max-width:900px;}
    .about_area .profile_image{margin:0 0 20px;}
    .info_area{flex-direction:row;align-items:center;margin:0 auto;max-width:660px;}
    .info_area .info_top{flex-basis:220px;text-align:left;}
    .info_area .info_bottom{flex:1;padding: 20px 0 20px 40px;border-top:none;border-left:1px solid #ddd;}
}
/* //about */

/* skill */
.skill_wrap{margin-top:60px;text-align:center;}
.skill_area{margin: 0 auto;padding:0 20px;max-width:940px;}
.skill_item + .skill_item{margin-top:50px;}
.skill_item h4{font-size:20px;font-weight:400;letter-spacing:.3px;}
.skill_item h4 + p{margin:10px auto 20px;font-size:16px;letter-spacing:.1px;color:#999;}
.skill_list{display:flex;flex-flow:row wrap;width:100%;}
.skill_list > li{flex:1 1 150px;position:relative;margin:5px;box-sizing:border-box;height:100px;background:#caf;border-radius:8px;overflow:hidden;}
.skill_list > li:after{content:'';display:block;position:absolute;top:0;left:-150px;width:100px;height:100%;background-image:linear-gradient(to right, transparent, rgba(255,255,255,.5), transparent);transition:all .35s;transform:skewX(-42deg);}
.skill_list > li:hover:after{left:calc(100% + 50px)}
.skill_list > li > span{position:absolute;top:50%;left:0;right:0;transform:translate(0, -50%);text-align:center;font-family: 'Baloo Bhai', 'Do Hyeon';font-size:23px;line-height:23px;word-break:break-all;letter-spacing:.1px;color:#fff;}
/*.skill_item .stat_box{display:flex;width:100%;}
.skill_item .stat_box .items{display:flex;flex-flow:row wrap;width:100%;}
.skill_item .stat_box .stat{flex:1 1 70px;}
.skill_item .stat_box .stat:after{content:'';display:block;clear:both;}
.skill_item .stat_box dt{float:left;min-width:50px;text-align:left;font-size:13px;line-height:20px;letter-spacing:.3px;}
.skill_item .stat_box dd{overflow:hidden;}
.skill_item .stat_box .graph_box{position:relative;height:20px;background:#e5e5e5;border-radius:10px;}
.skill_item .stat_box .graph_box .graph{position:absolute;top:0;left:0;height:100%;background:#dac2ff;border-radius:10px;animation:gauge 1.5s;}
@keyframes gauge{
    from{height:0;}
}*/
/* //skill */

/* career */
.career_wrap{margin-top:60px;padding:100px 20px;box-sizing:border-box;background:url(../images/fixed_bg.jpg) 65% center / cover  no-repeat;background-attachment:fixed;}
.career_area{margin:0 auto;max-width:1200px;}
.career_box{margin: 0 auto;padding:50px 30px;max-width:700px;background:#fff;}
.career_tab{border-bottom: 1px solid #ddd;}
.career_tab:after{content:'';display:block;clear:both;}
.career_tab li{position:relative;float:left;}
.career_tab li .button_tab{display:block;padding:0 6px;font-family:'Varela Round',sans-serif;font-size:14px;line-height:30px;color:#888;}
.career_tab li.active .button_tab{color:#333;}
.career_tab li:before {content:''; display: block; position: absolute; bottom: -1px; left: 0; width: 100%; height: 3px; background: #f53f55; transition: all ease .1s; transform: scaleX(0);}
.career_tab li:hover:before,
.career_tab li:focus:before,
.career_tab li.active:before{transform: scaleX(1);}
.career_item{display:none;margin-top:15px;}
.career_item.active{display:block;}
.career_item .career_detail .notice{margin-bottom:20px;font-size:12px;color:#999;}
.career_item .career_detail .notice em{letter-spacing:.7px;color:#d05aec;}
.project_list + .project_list{margin-top:20px;}
.project_list .item + .item{margin-top:20px;}
.project_list dt{font-size:15px;font-weight:normal;letter-spacing:normal;line-height:20px;}
.project_list dt .num{display:inline-block;margin-right:5px;vertical-align:middle;width:18px;height:18px;background:#ecf;border-radius:3px;text-align:center;font-size:12px;font-weight:bold;line-height:19px;color:#fff;}
.project_list dt > strong{padding:0 3px;box-shadow:inset 0 -9px 0 #f2dbff;}
.project_list dd{margin-top:10px;}
.project_list dd > ul{margin-left:15px;}
.project_list dd > ul > li{position:relative;padding-left:10px;font-size:14px;letter-spacing:normal;line-height:17px;}
.project_list dd > ul > li:before{content:'';position:absolute;top:6px;left:0;width:4px;height:4px;background:#caf;}
.project_list dd > ul > li + li{margin-top:3px;}
.project_list dd > ul > li > ul > li{position:relative;padding-left:10px;}
.project_list dd > ul > li > ul > li:before{content:'-';position:absolute;top:0;left:0;}
.project_list .emphasis{display:block;}
.project_list.type2 dt .num{background-color:#b9eccb;}
.project_list.type2 dt > strong{box-shadow:inset 0 -9px 0 #b9eccb;}
.project_list.type2 dd > ul > li:before{background-color:#9ed6b1;}

@media all and (min-width:768px) {
    .career_box{margin:0 0 0 auto;}
    .career_tab li .button_tab{padding:0 10px;font-size:20px;line-height:39px;}
    .career_item{margin-top:20px;}
    .career_box .info_list .row + .row{margin-top:10px;}
    .career_box .info_list dt{font-size:17px;line-height:24px;}
    .career_box .info_list dt:before{top:8px;}
    .career_box .info_list dd{font-size:16px;line-height:25px;}
}
/* //career */

/* works */
.works_wrap{padding-top:60px;text-align:center;}
.works_wrap h4{font-size:16px;font-weight:600;}
.works_box{display:flex;display:-webkit-flex;display:-ms-flex;display:-o-flex;flex-wrap:wrap;margin:-10px auto;padding:0 20px;max-width:1200px;}
.works_item{position:relative;flex:1 1 337px;margin:10px;}
.works_item img{max-width:100%;}
.works_item .inbox .desc_box{position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.8);opacity:0;text-align:center;color:#fff;transition:all ease .5s;-webkit-transition:all ease .5s;-ms-transition:all ease .5s;-o-transition:all ease .5s;}
.works_item .inbox:hover .desc_box{opacity:1;}
.works_item .inbox .desc_box .desc{position:absolute;top:50%;left:0;right:0;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);}
.works_item .inbox .desc_box .tit{font-size:18px;font-weight:600;margin-bottom:30px;}
.works_item .inbox .desc_box .button_more{display:inline-block;position:relative;top:0;left:0;padding:7px 30px;background:#f49fd7;border-radius:18px;font-family:'Baloo Bhai', cursive;font-size:15px;letter-spacing:4px;color:#fff;transition:all ease 0.3s;-webkit-transition:all ease 0.3s;-ms-transition:all ease 0.3s;-o-transition:all ease 0.3s;}
.works_item .inbox .desc_box .button_more:hover{top:-3px;left:-3px;box-shadow:2px 3px 1px rgba(255,231,66,1);}

@media only screen and (min-width:768px){
    .works_item{max-width:calc(50% - 20px);}
    .works_item .inbox .desc_box .tit{font-size:25px;}
}

@media only screen and (min-width:1024px){
    .works_item{max-width:calc(33.3333% - 20px);}
}
/* //works */

/* lab */
.lab_wrap{padding-top:60px;}
.lab_area{margin:0 auto;max-width:940px;}
.lab_area .section_title{position:relative;color:#3660ff;}
.lab_area .section_title:before{content:'';display:block;position:absolute;top:25px;left:50%;margin-left:-36px;width:70px;height:22px;background:#eee;border-radius:50%;animation-name:shadow;animation-duration:.5s;animation-iteration-count:infinite;animation-direction:alternate;}
.lab_box{display:flex;display:-webkit-flex;display:-ms-flex;display:-o-flex;flex-wrap:wrap;justify-content:center;padding:0 20px;}
.lab_item{display:flex;flex:1;align-items:center;justify-content:center;margin:0 10px;height:200px;background:#ecf;text-decoration:none;}
.lab_item > div{font-size:30px;font-weight:bold;color:#fff;}
@media only screen and (min-width:768px){
    .lab_area .section_title:before{top:30px;margin-left:-46px;width:90px;height:25px;}
    .lab_box{padding:0 100px;}
    .lab_item{transform:skewX(-30deg);}
    .lab_item > div{transform:skewX(30deg);}
}
/* //lab */

/* popup */
.popup_area{display:none;position:fixed;top:0;bottom:0;left:0;right:0;padding:20px;background:rgba(0,0,0,.5);z-index:3;}
.popup_area.active{display:block;}
.popup_area .popup_box{display:flex;display:-webkit-flex;display:-ms-flex;display:-o-flex;flex-direction:column;position:relative;margin:0 auto;padding:40px 20px 30px;width:100%;max-width:800px;height:100%;background:#fff;border-radius:12px;overflow:hidden;}
.popup_area .popup_box .inbox{height:100%;overflow:hidden;}
.popup_area .popup_box .button_close{position:absolute;top:10px;right:10px;width:30px;height:30px;}
.popup_area .popup_box .button_close [class^='bar']{position:absolute;top:50%;left:50%;margin-left:-10px;width:20px;height:2px;background:#666;}
.popup_area .popup_box .button_close .bar_lft{transform:rotate(45deg);}
.popup_area .popup_box .button_close .bar_rgt{transform:rotate(-45deg);}
.popup_area .popup_box h4{padding-bottom:10px;border-bottom:1px solid #ddd;font-size:15px;font-weight:600;color:#333;}
.popup_area .popup_box .content{padding:30px 0 0;box-sizing:border-box;height:100%;overflow-y:auto;}
.popup_area .popup_box figure + figure{margin-top:30px;}
.popup_area .popup_box figure img{border:1px solid #4a4a4a;}
.popup_area .popup_box figcaption{margin-top:5px;font-size:15px;font-weight:bold;color:#4a4a4a;}
@media only screen and (min-width:768px){
    .popup_area .popup_box h4{font-size:20px;}
}
    @media only screen and (min-width:1024px){
    .popup_area .popup_box h4{font-size:24px;}
}
/* //popup */
/* //works */

/* footer */
.footer_wrap{background:#fce;}
.footer_box{margin:0 auto;padding:30px 20px;max-width:1200px;color:#fff;}
.footer_box a{color:#fff;}
/* //footer */

/* animation */
.box_bounce{position:relative;min-height:50px;}
.bounce{
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align:center;
    animation-name:bounce;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
.colortxt{
    animation-name:colorTxt;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes bounce {
    0%{
        top:0;
    }
    100%{
        top:-25px;
    }
}
@keyframes colorTxt{
    0%{
        color:#2e50fc;
    }
    50%{
        color:#2ecbfc;
    }
    100%{
        color:#7ce4db;
    }
}
@keyframes shadow{
    0%{
        transform:scaleX(1);
    }
    100%{
        transform:scaleX(.76);
    }
}
/* //animation */
