@charset "utf-8";
.wrapper {position: relative;}
.wrapper.active:before {content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,.5); z-index: 4;}

/* :: header s :: */

.headerwrap {position: relative; height: 60px;}
.header-container {padding: 0 20px;}
.header-top-wrap {display: none;}
.header-top-wrap .top-etc-list:after {content: ""; display: block; clear: both;}
.header-top-wrap .top-etc-list li {float: left;}
.header-logo-box {text-align: center;}
.header-logo {display: inline-block; padding-top: 10px;}
.header-logo img {width: 115px;}
.header-menu-btn {position: absolute; top: 20px; left: 20px; width: 26px; height: 20px;}
.header-menu-btn .ico, .header-menu-btn .ico:before, .header-menu-btn .ico:after {content:''; position: absolute; display: inline-block; width: 100%; height: 3px; background: #595959; top: 50%; left: 0;}
.header-menu-btn .ico:before {margin-top: -10px;}
.header-menu-btn .ico:after {margin-top: 6px;}
.header-container .login-btn {position: absolute; width: 32px; height: 32px; border: 2px solid #ddd; background: url("../../../yp-cock/images/layout/logout-ico.png") no-repeat 50%; top: 15px; right: 20px; border-radius: 100%;}
.header-container .login-btn.on {border: none; background: #61d3d2 url("../../../yp-cock/images/layout/login-ico.png") no-repeat 50%;}
.gnbwrap {display: none; position: fixed; left: 0; top: 0; background: #fff; height: 100%; width: 255px; z-index: 5}
.gnbwrap.active {display: block;}
.mob-gnb-top .mob-gnb-logo {display: inline-block; padding: 10px 20px;}
.mob-gnb-top .mob-gnb-logo img {width: 116px;}
.gnb-etc-tab {background: #f8f8f8; border-top: 1px solid #eceded; border-bottom: 1px solid #eceded;}
.gnb-etc-tab .top-etc-list:after {content: ""; display: block; clear: both;}
.gnb-etc-tab .top-etc-list li {float: left; width: 33%; text-align: center; border-left: 1px solid #eceded;}
.gnb-etc-tab .top-etc-list li:first-child {border-left: none;}
.gnb-etc-tab .top-etc-list li.sns {width: 17%;}
.gnb-etc-tab .top-etc-list li a {color: #666; display: inline-block; padding: 15px 0; width: 100%;}
.mob-gnb-close-btn {background: url("../../../yp-cock/images/layout/close-con.png") no-repeat; width: 25px; height: 25px; position: absolute; right: 20px; top: 20px;}
.gnb a {display: inline-block; width: 100%; padding: 15px 20px;border-bottom:1px solid #eceded;}
.gnbwrap .dep1 > a {font-size: 15px; display: block; background: #fff;}
.gnbwrap > .dep1 > a:hover,.gnbwrap .dep1.active > a {background: #8ad0df url("../../../yp-cock/images/layout/arrow01.png") no-repeat 220px 17px;}
.gnbwrap .dep2 {display: none; z-index: 10;}
.gnb .dep2 a {display: block; background: #f0f0f0; border-bottom: 1px solid #dedfdf;}
.gnb .dep2 li:last-child a {border-bottom: none;}
.cont-control-btn {display: block; position: fixed; right: 5%; bottom: 25px; z-index: 3;}

@media all and (min-width:768px) {
    .headerwrap {height: 80px;}
    .header-menu-btn {top: 28px;}
    .header-logo img {width: 178px;}
    .header-container .login-btn {top: 24px;}
}

@media all and (min-width:1024px) {
    .wrapper.active:before {display: none;}
    .headerwrap {height: 120px;}
    .header-top-wrap {display: block; background: #edeeef; border-bottom: 1px solid #e2e2e2; height: 36px;}
    .header-top-wrap a {line-height: 36px; color: #666; font-size: 16px;}
    .top-etc-wrap {max-width: 1200px; width: 100%; margin: 0 auto;}
    .top-etc-list {display: inline-block;}
    .top-etc-list li a {display: inline-block; padding: 0 10px; border-left: 1px solid #e2e2e2; text-align: center;}
    .top-etc-list li.sns a {padding: 0 15px; min-width: 45px;}
    .top-etc-list li.sns img {vertical-align: middle; margin-top: -2px;}
    .top-etc-list li.sns img.blog {margin-top: -4px;}
    .top-etc-list li:last-child {border-right: 1px solid #e2e2e2;}
    .login-btn-pc {display: inline-block; float: right; padding: 0 15px;  border-right: 1px solid #e2e2e2; border-left: 1px solid #e2e2e2;}
    .header-container {max-width: 1200px; margin: 0 auto; padding: 0; position: relative;}
    .header-logo-box {position: absolute; top: 2px; left:10px;}
    .gnbwrap {display: block; background: #fff; position: static; width: 100%; height: 85px; left: auto; top:auto;}
    .mob-gnb-top {display: none;}
    .gnbwrap .gnb {padding: 0 0 0 200px; max-width: 1200px; margin: 0 auto; text-align: right;}
    .gnbwrap .gnb:after {content: ""; display: block; clear: both;}
    .gnbwrap .gnb > li {vertical-align: middle; padding: 0 20px; display: inline-block; position: relative;}
    .gnbwrap .gnb > li.active:after {content: ""; display: block; position: absolute; width: 100%; height: 1px; border-bottom: 4px solid #009ac8; bottom: 0; left: 0;}
    .gnbwrap .gnb > li.active a {color: #009ac8;}
    .gnb .dep1 a {font-size: 20px; font-weight: bold; color: #252525; padding: 0; line-height: 85px;}
    .gnb .dep1 > a {border-bottom: none;}
    .gnb .dep1:hover > a {color: #009ac8;}
    .dep1 > li > a.active, .gnb-dep1 > li > a:hover {background: none;}
    .gnb .dep2 a {font-size: 16px; line-height: 30px; text-align: left; font-weight: normal; background: #fff; padding: 5px 25px;}
    .gnb .dep2 {min-width: 195px; position: absolute; left: 0; top: 85px; border-bottom: 1px solid #dedfdf; border-right: 1px solid #dedfdf; border-left: 1px solid #dedfdf; border-top: 4px solid #009ac8;}
    .gnb > li.active > .dep2 {display: block;}
    .gnb .dep2 a:hover,
    .gnb .dep2 a:focus {background: #f0f0f0;}
}
/* :: header e :: */

/* :: board s :: */
.list-top {margin-bottom: 17px;}
.list-top:after {content: ""; display: block; clear: both;}
.list-top .btnwrap {display: inline-block; margin-bottom: 10px;}
.list-top .btnwrap:after {content: ""; display: block; clear: both;}
.list-top .btnwrap .option {padding: 8px 17px; border: 1px solid #d9d9d9; float: left; letter-spacing: -1px; margin-left: -1px;}
.list-top .btnwrap .option:first-child {border-bottom-left-radius: 2px; border-top-left-radius: 2px; margin-left: 0;}
.list-top .btnwrap .option:last-child {border-bottom-right-radius: 2px; border-top-right-radius: 2px;}
.list-top .btnwrap .option.on {background: #5f636f; border: 1px solid #5f636f; color: #fff;}
.searchwrap select {background: #fafafa; padding: 0 10px 0 5px; color: #666; margin-bottom: 5px; width: 100%;}
.searchwrap input[type="text"] {float: left; margin-right: 1%; width: 76%;}
.searchwrap .search-btn {color: #fff; background: #0054a6; vertical-align: top; width: 23%; height: 40px;}
.require {color: #ed1c24;}
.petition-wrap:after {content: ""; display: block; clear: both;}
.petition-wrap.max .listcon {background: #f1eff1; margin-bottom: 45px;}
.petition-wrap.max .listcon .tit-box {color: #000;}
.petition-wrap.max .listcon > .num {color: #000;}
.petition-wrap.max .listcon .numbox {font-size: 16px;}
.petition-wrap.max .listcon .percentbox .pertxt {font-size: 16px;}
.petition-wrap.max .listcon .percentbox .date .day {color: #000;}
.petition-wrap.max .listcon .numbox .present {border-bottom: 1px solid #c1bdc0;}
.petition-wrap .list-wrap:after {content: ""; display: block; clear: both;}
.petition-wrap .listcon:after {content: ""; display: block; clear: both;}
.petition-wrap .listcon {padding: 28px 33px; border: 1px solid #ebebeb; position: relative; margin-bottom: 25px;}
.petition-wrap .listcon > .num {position: absolute; top: 6px; right: 20px; color: #a1a1a1; letter-spacing: 0;}
.petition-wrap .listcon .titlebox {display: table; width: 100%;}
.petition-wrap .listcon .titlebox:after {content: ""; display: block; clear: both;}
.petition-wrap .listcon .titlebox .tit:first-child {color: #4e4e4e;}
.petition-wrap .listcon .ico-box {display: table-cell; width: 1%;}
.ico-box .ico {padding: 4px 6px; font-size: 12px; display: block; text-align: center; margin-bottom: 14px; width: 65px;}
.ico-box .ico.progress {background: #0054a6; border-radius: 3px; color: #98e2ff;}
.ico-box .ico.end {background: #5f636f; border-radius: 3px; color: #fff;}
.ico-box .ico.st1 {border: 1px solid #a864a8; color: #8560a8; background: #fff;}
.petition-wrap .listcon .tit-box {display: table-cell; width: 80%; padding-left: 10px;}
.petition-wrap .listcon .tit-box .tit {display: block; margin-bottom: 18px;}
.petition-wrap .listcon .tit-box .tit a {display: block; display: -webkit-box; -webkit-box-orient: vertical; position: relative; font-size: 17px; overflow: hidden;  text-overflow: ellipsis; max-height: 46px;  -webkit-line-clamp: 2;}
.petition-wrap .listcon .tit-box .tit .name {font-weight: bold; color: #000;}
.petition-wrap .listcon .numbox {text-align: right;}
.petition-wrap .listcon .numbox .present {display: inline-block; color: #0054a6; padding: 0 0 7px 15px; margin-bottom: 7px; border-bottom: 1px solid #ebebeb; position: relative;}
.petition-wrap .listcon .numbox .present:before {content: ""; display: block; position: absolute; background: url("../../../yp-cock/images/sub/heart-con.png") no-repeat; width: 16px; height: 14px; left: -7px; top: 15px;}
.petition-wrap .listcon .numbox .present .num {font-weight: bold; font-size: 24px;}
.petition-wrap .listcon .numbox .goal {display: block; color: #363636; font-size: 16px;}
.petition-wrap .listcon .percentbox:after {content: ""; display: block; clear: both;}
.petition-wrap .listcon .percentbox .pertxt {color: #0054a6; font-weight: bold; margin-bottom: 8px; padding-left: 5px;}
.petition-wrap .listcon .percentbox .percentbar {width: 100%; height: 25px; background: #edeeef; overflow: hidden; border-radius: 30px; box-shadow: 0 3px 3px -1px rgba(0,0,0,.2) inset; border-bottom: 1px solid #fff; margin-bottom: 8px;}
.petition-wrap .listcon .percentbox .percentbar .percent {height: 25px; background: url("../../yp-cock/images/sub/percent-bg.jpg") repeat-x; border-top: 1px solid #246694; border-right: 1px solid #125891;}
.petition-wrap .listcon .percentbox .date {font-size: 14px; color: #363636; padding: 0 6px 0 3px;}
.petition-wrap .listcon .percentbox .date .day {margin-left: 10px; color: #636363;}
.petition-wrap .listcon .percentbox .date .end {float: right;}
.petition-step {border: 1px solid #ebebeb; border-bottom: 0; max-width: 996px; margin: 0 auto; padding: 55px 0 45px;}
.petition-step .steplist {position: relative; margin: 0 auto;}
.petition-step .steplist:after {content: ""; display: block; clear: both;}
.petition-step .steplist:before {content: ""; display: block; position: absolute; top: 0; left: 50%; width: 76%; height: 1px; border-top: 1px solid #c5c5c5; margin-left: -38%;}
.petition-step .steplist .step {float: left; width: 25%; text-align: center; padding-top: 20px; position: relative;}
.petition-step .steplist .step.on {color: #01387b; font-weight: bold;}
.petition-step .steplist .step:before {content: ""; display: block; position: absolute; width: 30px; height: 30px; left: 50%; top: -15px; margin-left: -15px; background: rgba(154,154,154,.2); border-radius: 100%;}
.petition-step .steplist .step:after {content: ""; display: block; position: absolute; width: 10px; height: 10px; left: 50%; top: -5px; margin-left: -5px; background: #9a9a9a; border-radius: 100%;}
.petition-step .steplist .step.on:before {background: rgba(177,219,239,.5);}
.petition-step .steplist .step.on:after {background: #387dc1;}
.petiton-view-wrap .txt-box {margin-bottom: 30px;}
.petiton-view-wrap .txt-box img {max-width: 100%;}
.filebox {border: 1px solid #ddd; background: #f6f7fb; padding: 20px 30px;}
.down-file {display: block; color: #000; margin: 0 0 15px 40px; text-decoration: underline; position: relative; clear: both;}
.down-file:before {content: ""; display: block; position: absolute; background: url("../../yp-cock/images/layout/down-con.jpg") no-repeat; width: 24px; height: 23px; left: -40px; top: -2px;}
.down-file:last-child {margin-bottom: 0;}
.board-btnwrap {margin: 25px 0 0; text-align: center;}
.board-btnwrap:after {content: ""; display: block; clear: both;}
.board-btnwrap .btnbox {display: inline-block;}
.board-btnwrap .btnbox:after {content: ""; display: block; clear: both;}
.board-btnwrap .btn {padding: 10px 25px; color: #fff; display: inline-block; float: left; margin-right: 5px;}
.board-btnwrap .btn:last-child {margin-right: 0;}
.board-btnwrap .btn.delete,
.board-btnwrap .btn.cancel,
.board-btnwrap .btn.gray {background: #3e4c56;}
.board-btnwrap .btn.write,
.board-btnwrap .btn.reply,
.board-btnwrap .btn.check,
.board-btnwrap .btn.list,
.board-btnwrap .btn.modify,
.board-btnwrap .btn.blue {background: #5396bf;}
.video-wrap {margin-bottom: 30px;}
.video-wrap video {width: 100%;}
.reply-wrap .reply-top:after {content: ""; display: block; clear: both;}
.reply-wrap .reply-top {margin-bottom: 15px;}
.reply-wrap .tit {font-size: 20px; color: #333; float: left;}
.reply-wrap .tit .num {font-size: 25px; color: #448ccb;}
.reply-wrap .snsbox {float: right; display: inline-block;}
.reply-wrap .snsbox ul {display: inline-block; margin-top: 5px;}
.reply-wrap .snsbox ul > li {float: left; margin-left: 5px;}
.reply-wrap .snsbox .sns {vertical-align: middle;}
.reply-wrap .snsbox .tit {display: none; font-size: 14px; vertical-align: middle; margin-right: 30px; line-height: 43px;}
.reply-write-box {background: #f4f3f4; border: 1px solid #ddd; margin-bottom: 35px;}
.reply-write {padding: 20px;}
.reply-write:after {content: ""; display: block; clear: both;}
.reply-write .reply-txt {width: 74%; height: 85px; float: left; border: 1px solid #ddd;}
.reply-write .agreebtn {width: 24%; margin-left: 2%; height: 85px; display: inline-block; background: #2e538a; color: #fff;}
.reply-write .agreebtn .web-txt {display: none;}
.reply-box ul > li {border-bottom: 1px solid #ebebeb; padding: 13px 3px; color: #000;}
.reply-box ul > li:first-child {padding-top: 0;}
.reply-box .reply-info {margin-bottom: 5px;}
.reply-box .reply-info:after {content: ""; display: block; clear: both;}
.reply-box .reply-info .user-name {display: inline-block; float: left; font-weight: bold;}
.reply-box .reply-info .date {display: inline-block; float: left; color: #666; position: relative; padding-left: 20px;}
.reply-box .reply-info .date:before {content: ""; display: block; position: absolute; width: 2px; height: 10px; background: #d6d6d6; left: 10px; top: 5px;}
.reply-box .reply-info .date .time{margin-left: 7px;}
.reply-box > ul > li {display: table; width: 100%;}
.reply-box .oppi-con {display: table-cell; width: 1%; vertical-align: top; text-align: center;}
.reply-box .reply-txt-box {display: table-cell; padding-left: 15px;}
.reply-box .oppi-con .con {width: 50px; height: 50px; color: #fff; border-radius: 100%; font-weight: bold; line-height: 51px; font-size: 16px;}
.reply-box .oppi-con .con.agree {background: #6aaada;}
.reply-box .oppi-con .con.opposite {background: #ebbe53;}
.petition-write {padding: 25px 0 0; border-top: 2px solid #4c4c4c; border-bottom: 1px solid #efefef;}
.petition-write .row {margin-bottom: 20px;}
.petition-write .tit {font-weight: bold; color: #000; margin-bottom: 5px;}
.petition-write .row:after {content: ""; display: block; clear: both;}
.petition-write .pe-tel {max-width: 100px; width: 32%; float: left; margin-right: 1%;}
.petition-write .pe-tel:last-child {margin-right: 0;}
.petition-write input,
.petition-write select {background: #fafafa; border: 1px solid #d9d9d9;}
.petition-write input[type="text"],
.petition-write input[type="file"] {width: 100%;}
.petition-write select {width: 50%;}
.petition-write .pe-file {padding: 10px; margin-bottom: 7px;}
.petition-write .petition-agree {padding: 20px; background: #fafafa; border: 1px solid #e6e6e6;}
.petition-write .petition-agree ul {margin-bottom: 10px;}
.petition-write .petition-agree ul li {margin-bottom: 5px;}
.petition-write .petition-agree ul li:last-child {margin-bottom: 0;}
.petition-write .petition-agree .agreelist li {position: relative; padding-left: 10px;}
.petition-write .petition-agree .agreelist li:before {content: ""; display: block; position: absolute; width: 4px; height: 4px; background: #888; top: 7px; left: 0; border-radius: 100%;}
.petition-write .petition-agree ul input[type="checkbox"] {vertical-align: middle;}
.petition-write .petition-agree .notice {color: #ed1c24; padding-left: 12px; position: relative;}
.petition-write .petition-agree .notice:before {content: "※"; display: block; position: absolute; left: 0; top:1px; }
.petition-list-wrap .board-total {padding-left: 18px; position: relative; margin-bottom: 5px;}
.petition-list-wrap .board-total .tit {font-weight: bold; color: #363636;}
.petition-list-wrap .board-total:before {content: ""; display: block; position: absolute; background: url("../../yp-cock/images/sub/all-con.jpg") no-repeat; width: 12px; height: 14px; left: 0; top: 2px;}
.petition-list {border-top: 2px solid #4c4c4c;}
.petition-list .board-row {padding: 15px 0 17px; border-bottom: 1px solid #efefef;}
.petition-list .board-row .board-num {display: block; margin-bottom: 7px;}
.petition-list .board-row .numtxt {display: none; }
.petition-list .board-row .titbox {display: block; margin-bottom: 7px;}
.petition-list .board-row .tit {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; font-weight: bold; color: #000;}
.petition-list .board-row .con {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: break-all;}
.petition-list .board-row a:active,
.petition-list .board-row a:focus,
.petition-list .board-row a:hover {text-decoration: underline;}
.petition-list .board-row .writer {color: #363636;}
.petition-list .board-row .date {margin-left: 15px; position: relative;}
.petition-list .board-row .date:before {content: ""; display: block; position: absolute; background: #ccc; width: 1px; height: 10px; left: -9px; top: 5px;}
.petition-list .board-row .no-data {display: block; text-align: center;}
.petition-view {border-top: 2px solid #4c4c4c; border-bottom: 1px solid #efefef;}
.petition-view .board-top {border-bottom: 1px solid #efefef;}
.petition-view .titbox {font-size: 21px; color: #000; font-weight: bold; padding: 20px 15px; background: #f8f8f8;}
.petition-view .titbox:after {content: ""; display: block; clear: both;}
.petition-view .titbox .ico-box .ico {margin-bottom: 10px; font-weight: normal;}
.petition-view .titbox .period-txt {color: #363636; font-weight: normal; font-size: 14px; margin-top: 10px;}
.petition-view .infobox {padding: 15px; color: #363636;}
.petition-view .infobox:after {content: ""; display: block; clear: both;}
.petition-view .infobox .txt {margin-left: 15px; position: relative;}
.petition-view .infobox .txt:first-child {margin-left: 0;}
.petition-view .infobox .txt:before {content: ""; display: block; position: absolute; width: 1px; height: 12px; border-left: 1px solid #ccc; left: -7px; top: 3px;}
.petition-view .infobox .txt:first-child:before {display: none;}
.petition-view .board-con {padding: 35px 15px;}
.petition-view .board-con img {max-width: 100%;}
.petition-view .board-file {padding: 30px 15px;}
.search-wrap {border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; background: #f7f7f7; padding: 20px 0; position: relative; margin-bottom: 30px;}
.search-wrap:before {content: ""; display: block; position: absolute; left: -20px; top: -1px; width: 20px; height: 100%; border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; background: #f7f7f7;}
.search-wrap:after {content: ""; display: block; position: absolute; right: -20px; top: -1px; width: 20px; height: 100%; border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; background: #f7f7f7;}
.search-wrap .btnwrap {margin-bottom: 10px;}
.search-wrap .btnwrap:after, .search-wrap .btnwrap .btn-box:after {content: ""; display: block; clear: both;}
.search-wrap .btnwrap label {border: 1px solid #d9d9d9; border-radius: 3px; display: inline-block; float: left; margin-left: 2%; width: 32%; text-align: center; padding: 10px 0; background: #fff; max-width: 100px;}
.search-wrap .btnwrap label.first {margin-left: 0;}
.search-wrap label.active, .search-wrap input[type="radio"]:checked + label{background: #76a0e4; color: #fff; border: 1px solid #07469b;}
.search-wrap .btnwrap .txt {display: none;}
.search-wrap .period-box {margin-bottom: 10px;}
.search-wrap .period-box:after {content: ""; display: block; clear: both;}
.search-wrap .period-box .start, .search-wrap .period-box .end {position: relative; float: left; display: inline-block; width: 49%;}
.search-wrap .period-box .start img, .search-wrap .period-box .end img {position: absolute; right: 10px; top: 10px; cursor: pointer;}
.search-wrap .period-box .start input, .search-wrap .period-box .end input {width: 100%; border-radius: 3px; border: 1px solid #d9d9d9;}
.search-wrap .period-box .start {margin-right: 2%;}
.search-wrap .period-box .ico {display: none;}
.search-wrap .search-box input[type="text"] {border-radius: 3px; float: left; width: 80%; border: 1px solid #d9d9d9;}
.search-wrap .search-box .search-btn {background: #0054a6 url("../../yp-cock/images/sub/search-con.png") no-repeat center center; color: #fff; display: inline-block; height: 39px; vertical-align: top; border-radius: 3px; width: 18%; margin-left: 2%;}
.discus-list-wrap:after {content: ""; display: block; clear: both;}
.discus-list-row:after {content: ""; display: block; clear: both;}
.discus-list-box {border-bottom: 1px solid #ebebeb;}
.discus-list-box .discusbox {padding: 17px 20px; border-top: 1px solid #ebebeb; border-left: 1px solid #ebebeb; border-right: 1px solid #ebebeb;}
.discus-list-box .discusbox:after {content: ""; display: block; clear: both;}
.discus-list-box .discusbox .ico-box {margin-bottom: 10px;}
.discus-list-box .discusbox .titbox {margin-bottom: 15px;}
.discus-list-box .discusbox .titbox a:hover {text-decoration: underline;}
.discus-list-box .discusbox .titbox .tit {color: #000; font-weight: bold; font-size: 16px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: break-all;}
.discus-list-box .discusbox .titbox .con {display: block; min-height: 40px; max-height: 40px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.discus-list-box .discusbox .titbox .con.over {overflow: hidden; position: relative;}
.discus-list-box .discusbox .titbox .con.over:after {content: "..."; position: absolute; right: 0; bottom: 0;}
.discus-list-box .discusbox .period {font-size: 13px; margin-bottom: 15px;}
.discus-list-box .discusbox .replynum {font-size: 15px; color: #0054a6;}
.discus-list-box .discusbox .replynum .num {font-size: 24px; font-weight: bold;}
.discus-view-top .topbox {padding: 23px 0; position: relative; background: #f7f7f7; border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; margin-bottom: 20px;}
.discus-view-top .topbox:after {content: ""; display: block; position: absolute; width: 20px; height: 100%;  background: #f7f7f7; border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; left: -20px; top: -1px;}
.discus-view-top .topbox:before {content: ""; display: block; position: absolute; width: 20px; height: 100%;  background: #f7f7f7; border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; right: -20px; top: -1px;}
.discus-view-top .topbox .percentbar {background: #ddd; border-radius: 30px; height: 40px; overflow: hidden;}
.discus-view-top .topbox .percentbar:after {content: ""; display: block; clear: both;}
.discus-view-top .topbox .percentbar .percent {float: left; height: 40px; line-height: 40px; font-size: 16px; font-weight: bold; color: #fff;}
.discus-view-top .topbox .percentbar .percent.agree {background: url("../../yp-cock/images/sub/agree-bg.jpg") repeat-x; padding-left: 20px;}
.discus-view-top .topbox .percentbar .percent.opposite {text-align: right; background: url("../../yp-cock/images/sub/opposite-bg.jpg") repeat-x; padding-right: 20px;}
.discus-view-top .topbox .percentbar-txt:after {content: ""; display: block; clear: both;}
.discus-view-top .topbox .percentbar-txt .txt {width: 50%; float: left; display: block; color: #000; margin-top: 7px; font-size: 16px;}
.discus-view-top .topbox .percentbar-txt .txt.agree {padding-left: 15px;}
.discus-view-top .topbox .percentbar-txt .txt.opposite {text-align: right; padding-right: 15px;}
.opinion-btn-wrap .opinion-btn {margin-bottom: 5px;}
.opinion-btn-wrap .opinion-btn input {vertical-align: middle; margin-right: 3px;}
.opinion-btn-wrap .opinion-btn label {vertical-align: middle;}
.opinion-btn-wrap .opinion-btn .opposite {margin-left: 10px;}
.no-data {text-align: center; padding: 35px 0; border-top: 2px solid #eee; border-bottom: 1px solid #eee;}

.paging {text-align: center; margin: 50px 0 20px;}
.paging-item {display: inline-block; vertical-align: middle; text-align: center; line-height: 32px; color: #000 !important; margin: 0 7px;}
.paging-item .ico {width: 13px; height: 13px; display: inline-block; vertical-align: middle;}
.paging-item.first .ico {background: url("../../yp-cock/images/layout/first-con.png") no-repeat;}
.paging-item.prev .ico {background: url("../../yp-cock/images/layout/prev-con.png") no-repeat; width: 8px;}
.paging-item.next .ico {background: url("../../yp-cock/images/layout/next-con.png") no-repeat; width: 8px;}
.paging-item.last .ico {background: url("../../yp-cock/images/layout/last-con.png") no-repeat;}
.paging-item.next, .paging-item.last {margin-top: -1px;}
.paging-item.active {color: #5497be !important; text-decoration: underline;}

@media all and (min-width:768px) {
    .list-top .btnwrap {margin-bottom: 0;}
    .searchwrap {float: right; width: 49%;}
    .searchwrap select {margin-bottom: 0; width: 32%; margin-right: 1%; float: left;}
    .searchwrap input[type="text"] {width: 50%; margin-right: 1%;}
    .searchwrap .search-btn {width: 16%;}
    .petition-wrap.max .listcon {background: url("../../yp-cock/images/sub/max-peti-bg.jpg") no-repeat center top;}
    .petition-wrap .listcon > .num {top: 28px; right: 35px;}
    .petition-wrap.max .listcon .percentbox .date {color: #000; font-size: 16px;}
    .petition-step {padding: 55px 0 45px;}
    .petition-step .steplist .step {font-size: 16px;}
    .petiton-view-wrap .txt-box {margin-bottom: 45px;}
    .reply-wrap .snsbox .tit {display: inline-block;}
    .reply-wrap .snsbox ul > li {margin-left: 10px;}
    .petition-list-wrap .board-total {margin-bottom: 10px;}
    .petition-list .board-row .numtxt {display: inline-block; margin-right: 3px;}
    .petition-list .board-row {padding: 25px 10px;}
    .petition-list .board-row:hover {background: #f8f8f8;}

    .search-wrap .btnwrap .txt {display: block; width: 10%; float: left; line-height: 40px; color: #252525; padding-left: 10px;}
    .search-wrap .btnwrap .btn-box {width: 90%; float: left;}
    .search-wrap .period-box .start {margin-right: 0;}
    .search-wrap .period-box .start, .search-wrap .period-box .end {width: 48%;}
    .search-wrap .period-box .ico {display: block; width: 4%; float: left; text-align: center; line-height: 40px;}
    .search-wrap .search-box .search-btn {background-image: none;}
}

@media all and (min-width:1024px) {
    .list-top .btnwrap .option {font-size: 16px;}
    .searchwrap .search-btn {font-size: 16px;}
    .searchwrap select {font-size: 16px;}
    .petition-wrap.max .listcon {width: 100%;}
    .petition-wrap .listcon {width: 49%; float: left; height: 308px;}
    .petition-wrap.max .listcon .percentbox {width: 50%; float: right; padding-left: 40px;}
    .petition-wrap .list-wrap .listcon:first-child {margin-right: 2%;}
    .petition-wrap .list-wrap:last-child .listcon {margin-bottom: 0;}
    .petition-wrap.max .listcon {border: none;}
    .down-file {font-size: 16px;}
    .board-btnwrap .btn {padding: 10px 57px; font-size: 16px;}
    .reply-wrap .tit {font-size: 24px;}
    .reply-wrap .tit .num {font-size: 30px;}
    .reply-write .reply-txt {width: 80%;}
    .reply-write .agreebtn {width: 17%; margin-left: 3%; font-size: 16px;}
    .reply-write .agreebtn .web-txt {display: inline-block;}
    .reply-box ul > li {font-size: 17px;}
    .petition-write {font-size: 17px;}
    .petition-write select {width: 30%;}
    .petition-write .petition-agree {padding: 35px;}
    .petition-list .board-row,
    .petition-list .board-row a {font-size: 17px;}
    .petition-view .infobox {font-size: 16px; padding: 20px 15px;}
    .petition-view .infobox .txt:before {left: -8px; top: 5px;}
    .petition-view .board-con {font-size: 17px;}
    .search-wrap {padding: 20px; border: 1px solid #c7c7c7;}
    .search-wrap:after, .search-wrap:before {display: none;}
    .search-wrap .btnwrap {width: 50%; float: left;}
    .search-wrap .btnwrap .txt {font-size: 16px; width: 20%;}
    .search-wrap .btnwrap .btn-box {width: 80%;}
    .search-wrap .period-box {width: 50%; float: left;}
    .search-wrap .search-box {clear: both;}
    .search-wrap .search-box input[type="text"] {width: 74%;}
    .search-wrap .search-box .search-btn {width: 24%;}
    .discus-list-box {border-bottom: none;}
    .discus-list-box .discusbox {border: 1px solid #ebebeb; width: 49%; float: left; height: 270px; margin-bottom: 20px; padding: 28px 35px;}
    .discus-list-box .discus-list-row .discusbox:first-child {margin-right: 2%;}
    .discus-list-box .discusbox .titbox {margin-bottom: 40px;}
    .discus-list-box .discusbox .titbox .tit {margin-bottom: 15px; font-size: 17px;}
    .discus-list-box .discusbox .titbox .con {font-size: 17px; min-height: 65px; max-height: 65px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
    .discus-list-box .discusbox .period {width: 50%; margin-bottom: 0; line-height: 45px; float: left;}
    .discus-list-box .discusbox .replynum {width: 50%; float: left; text-align: right;}
    .discus-list-box .discus-list-row:last-child .discusbox {margin-bottom: 0;}
    .discus-view-top .topbox {border: 1px solid #c7c7c7; padding: 35px 60px 15px; margin-bottom: 35px;}
    .discus-view-top .topbox:before {display: none;}
    .discus-view-top .topbox:after {display: none;}
    .petition-view .titbox .period-txt {text-align: right; float: right; display: inline-block;}
    .petition-view .titbox .ico-box .ico {margin-bottom: 5px;}

    .paging-item {font-size: 17px;}
    .paging-item.next, .paging-item.last {margin-top: -4px;}
}
/* :: board e :: */

/* :: footer s :: */
.footer-wrap {background: #474b4f;}
.footer {padding: 15px 20px; color: #fff;}
.footer-etc {margin-bottom: 15px;}
.footer-etc li {float: left; padding-left: 18px; position: relative;}
.footer-etc li:before {content: ""; display: block; position: absolute; width: 1px; height: 10px; border-left: 1px solid #747678; left: 10px; top: 4px;}
.footer-etc li:first-child {padding-left: 0;}
.footer-etc li:first-child:before {display: none;}
.footer-etc:after {content: ""; display: block; clear: both;}
.footer a {color: #fff;}
.footer address {font-size: 13px;}
@media all and (min-width:768px) {
    .footer {padding: 20px 40px;}
}
@media all and (min-width:1024px) {
    .footer {max-width: 1200px; margin: 0 auto;}
    .footer .pc-left {float: left; margin-right: 5px;}
}
/* :: footer e :: */
