@charset "utf-8";
body{font-family:'Varela Round',sans-serif,'맑은 고딕', 'Malgun Gothic', AppleGothic, '돋움', Dotum, sans-serif;font-size:14px;}
input{font-family: '맑은 고딕', 'Malgun Gothic', AppleGothic, '돋움', Dotum, sans-serif;font-size:14px;}
select,textarea,button{font-family: '맑은 고딕', 'Malgun Gothic', AppleGothic, '돋움', Dotum, sans-serif;font-size:14px;}

body{margin:0;padding:0;font-size:14px;line-height:1.4;color:#333;-webkit-text-size-adjust:none;letter-spacing:-1px;}
a{color:#333;text-decoration:none;}
.skip{width:100%;height:0;top:0;left:0}
.skip a{display:block;overflow:hidden;position:absolute;top:0;text-indent:-9999px;}
.skip a:focus,.skip a:active{display:block;position:absolute;top:0;width:100%;z-index:9999;padding:10px 0;font-size:15px;line-height:14px;text-indent:0;text-align:center;color:#fff;background:#444}
.screen_out{overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;font-size:1px;}
.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px;overflow:hidden;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.opt-fl{float:left}
.opt-fr{float:right;}
.opt-fc{clear:both;}
.opt-clearfix{display:block;min-height:1px;}
.opt-clearfix:after{clear:both;display:block;content:'';height:0;visibility:hidden;}
.opt-tl{text-align:left;}
.opt-tr{text-align:right;}
.opt-tc{text-align:center;}
.opt-mobile-hide{display:none;}
.opt-mobile-tablet-hide{display:none;}
.opt-mobile-web-hide{display:none;}
.opt-max-img{max-width:100%;}
@media all and (min-width:768px){
    .opt-mobile-hide{display:block;}
    .opt-tablet-hide{display:none;}
    .opt-mobile-web-hide{display:block;}
    .opt-tablet-web-hide{display:none;}
}
@media all and (min-width:1024px){
    .opt-table-hide{display:block;}
    .opt-web-hide{display:none;}
    .opt-mobile-tablet-hide{display:block;}
    .opt-mobile-web-hide{display:none;}
}

@media all and (min-width:768px){
    .opt-max-width-100{max-width:100px;}
    .opt-max-width-200{max-width:200px;}
    .opt-max-width-300{max-width:300px;}
    .opt-max-width-400{max-width:400px;}
    .opt-max-width-500{max-width:500px;}
    .opt-max-width-600{max-width:600px;}
}