
/*
html, body { height: 100%; margin: 0; }
#container { height: 100%; position: relative; overflow: hidden; }
section { width: 100%; height: 100%; position: absolute; }
.section01 { background: orange; width: 100%; height: 100%; }
.section02 { background: yellowgreen; }
.section03 { background: firebrick; }
.section04 { background: cornflowerblue; }
.section05 { background: seagreen; }
*/

.portfolioWrap{
  .visualArea{
    background:#f3eae2;
  }
  .visual__content{
    position:absolute;
    top:50%;
    left:50%;
    padding:20px 50px;
    box-sizing:border-box;
    //background:rgba(255,255,255,.3);
    border-radius:5px;
    transform:translate(-50%,-50%);
  }
  .visual__title{
    font-size:3rem;
    text-align:center;
    white-space:nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    strong{
      font-weight:500;
    }
  }
  .visual__desc{
    text-align:center;
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    color:#555;
  }
  .aboutArea{
    padding:20px 30px;
    background:#b4cef8;
    &__inbox{
      position:relative;
      padding:10px 30px 40px;
      background:#fff;
      border-radius:3px;
    }
    .section__title{
      color:#67efaa;
      &:before{
        content:'About';
        position:absolute;
        top:-.25rem;
        left:-.25rem;
        color:transparent;
        -webkit-text-stroke: 0.1rem #232323;
      }
    }
    .flexWrap{
      display:flex;
      flex-wrap:wrap;
      &__rightBox{
        flex:1 1 550px;
        margin-top:50px;
      }
    }
  }
  .infoList{
    font-size:1rem;
    &__row{
      @include clearfix;
    }
    dt{
      float:left;
    }
    dd{
      overflow:hidden;
    }
  }
  .profile{
    &__img{
      position:relative;
      display:inline-block;
      margin-bottom:20px;
      &:before{
        content:'';
        position:absolute;
        top:-30px;
        right:-80px;
        width:130px;
        height:130px;
        background:#b8ff79;
        border-radius:50%;
      }
    }
    &__name{
      font-size:2rem;
    }
    &__job{
      font-size:1rem;
    }
    &__contactList{
      font-size:.8rem;
      address{
        font-style:normal;
      }
      a{
        text-decoration:none;
      }
    }
  }
}